html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
html, body { 
 height:100%;
}

html {
	min-width:980px;
}
body { 
	/*background:#010101;*/ 
  background:url("../images/body_bg.jpg") repeat-x;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.375em;
	color:#6a6969;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}




/*==== GLOBAL =====*/
.container {
	width:980px; 
	margin:0 auto;
	font-size:.9375em;
}

body > header {
	height:100px;
	overflow:hidden;
	display:block;
	padding:0;
	margin:0;
	/*background:url(../images/bg.gif) #eee;*/
	background:transparent url('../images/header_bg.png') repeat-y top center;
}
#content {
	/*background:url(../images/bg.gif) 0 -3px #eee;*/
	/*background:#eee;*/
	display:block;
}
	#content .container {
		background:#fff;
		margin-bottom:-114px;
		margin-top:-73px;
		position:relative;
		z-index:10;
	}
		#content section.mainContent {
			display:block;
			float:left;
			width:558px;
			margin-right:33px;
		}
		#content aside {
			display:block;
			float:left;
			width:348px;
		}
body > footer {
	display:block;
}


/*----- forms parameters -----*/

input, select, textarea { 
	font-size:0.8em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-wrap {
	border:15px solid #ededed;	
}
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
	border:15px solid #ededed;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:30px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
		border:15px solid #ededed;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:22px;
}
.p1 { 
	margin-bottom:11px;
}
.p2 { 
	margin-bottom:22px;
}
.p3 { 
	margin-bottom:33px;
}

/*----- txt, links, lines, titles -----*/
a {
  color:#da251d;
	text-decoration:none;
	outline:none;
}
a:hover{
	text-decoration:underline;
}


.link1 {
	color:#6a6969;
}

h1 {
	font-size:2em;
	line-height:1.2em;
	color:#010101;
}
	h1 a {
		color:#010101;
		text-decoration:none;
	}
h2 {
	font-size:17px;
	line-height:1.2em;
	color:#000;
	font-weight:normal;
	margin-bottom:10px;
}
h4 {
	font-size:1em;
	font-weight:normal;
	color:#ffce4c;
}

	



/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    white-space: nowrap;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#fff;
    background-color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}








/*==================boxes====================*/
.box {
	background:#f5f5f5;
	padding:20px 20px 20px 30px;
	color:#848383;
	margin-bottom:18px;
}
	.box h2 {
		font-size:20px;
		color:#383838;
		line-height:1.2em;
		margin-bottom:11px;
	}

.address { 
	float:left;
	width:260px;
	padding-top:5px;
}
	.address dt {
		margin-bottom:22px;
	}
	.address dd { 
		clear:both;
		text-align:right;
	}
		.address dd span { 
			float:left;
			padding-right:25px;
		}
		.address dd a {
			color:#6a6969;
		}


.departments { 
	margin-top:-22px;
}
	.departments dt {
		color:#ffce4c;
		padding-top:22px;
	}
	.departments dd { 
		clear:both;
		text-align:right;
	}
		.departments dd span { 
			float:left;
			padding-right:25px;
		}
		.departments dd a {
			color:#6a6969;
		}


/*===== header =====*/
body > header .left {
  float:left;
}
body > header .right {
  float:left;
}
body > header .container {
    background:url("../images/header.jpg") no-repeat;
}
body > header .logo {
	float:left;
	padding:0;
}
	body > header .logo span {
		color:#010101;
		font-size:13px;
		font-weight:bold;
		display:block;
		margin-top:-23px;
		padding-left:8px;
	}
  header .top {
    width: 100%;
  }
  header .top ul li {
    color:#fff;
    float:left;
    font-size:12px;
  } 
  header .top ul li.lang {
    width:50%;
  }
  header .top ul li.lang ul li {
    margin-left:5px;
    color:#000;
    font-size:11px;
  } 
  header .top ul li.lang ul li#current a{
    color:#da251d;
  } 
  header .top ul li.lang ul li a{
    color:#000;
  } 
  header .top ul li.message {
    width:22%;
    text-align: right;
    background-color:#33383b;
    -webkit-border-bottom-left-radius: 35px;
    -moz-border-radius-bottomleft: 35px;
    border-bottom-left-radius: 35px
  } 
  header .top ul li.cart {
    width:28%;
    text-align: right;
    background-color:#33383b;
  }
  header .promo {
    float:left;
    clear:both;
    margin-top:20px;
    background-color:#da251d;
    height: 19px;
    width: 250px;
    line-height:16px;
    -webkit-border-top-right-radius: 35px;
    -moz-border-radius-topright: 35px;
    border-top-right-radius: 35px;
    text-align:center;
  }
  header .promo a {
    color:#fff;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
  }
  header .search {
    float:right;
    margin-top:14px;
  }
  header .search ul li {
    float:left;
    font-size:12px;
  }

/*===== navigation =====*/
 nav {
	height:100px;
	border-top:2px solid #FFF;
	display:block;
	padding:0;
	margin:0;
  background:#000;
  width:100%;
 }
	nav div.container ul#mainnav {
    margin-top: 2px;
	}
		nav div.container ul#mainnav li {
			float:left;
      text-transform:uppercase;
      height: 25px;
      line-height: 25px;
      width:12.3%;
      text-align:center;
      position: relative;
			font-size:15px;
			display:block;
      color:#fff;
      cursor:pointer;
      border-left: 1px solid #000;
   	}
		nav div.container ul#mainnav li.hover {
	    background: #fff;
      color:#000;
    }
    nav div.container ul#mainnav li.current {
	    background: #fff;
      color:#000;
		}
	     nav div.container ul#mainnav li ul#subnav {
        list-style: none;
        position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
        left: -1px; 
        background: #fff;
        margin: 0; 
        padding: 0;
        display: none;
        float: left;
        width: 170px;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        z-index:20;
      }
      nav div.container ul#mainnav li ul#subnav li{
        margin: 0; 
        padding: 0;
        border-bottom: 1px solid #eee; 
        clear: both;
        width: 170px;
        text-transform:lowercase;
        text-align:left;
      }
      nav div.container ul#mainnav li ul#subnav li a {
        float: left;
        width: 145px;
        padding-left: 20px;
        color: #000;
        text-decoration:none;
      }
      nav div.container ul#mainnav li ul#subnav li a:hover { 
        background: #808080;
        color: #fff;
      }

/*===== content =====*/
#content {
	
}
	#content .indent {

	}
		#content .indent .indent {
			padding:30px 0 33px 0;
			margin-bottom:0;
			border-bottom:1px solid #e2e2e2;
		}
		#content .indent .indent:last-child {
			border-bottom:none;
			padding-bottom:0;
		}


.list1 {
	padding-bottom:22px;
}
	.list1 li {
		background:url(images/bull-1.gif) no-repeat 0 8px;
		padding:0 0 6px 16px;
		position:relative;
	}
		.list1 li a {
			color:#6a6969;
		}
#content .promo {
  margin-top:20px;
}
#content .promo .product {
  float:left;
  width:325px;
  font-size:13px;
  line-height:15px;
  margin-bottom:10px;
}
#content .promo .product .image {
  float:left;
  width:125px;
}
#content .promo .product .description {
  float:left;
  width:200px;
}
#content .promo .product .description .price, #content .promo .product .description .desc{
  margin-bottom: 5px;
}
#content .promo .product .description .price .new{
  color:#DA251D;
  font-size: 125%;
}
#content .promo .product .description .price .old{
  text-decoration: line-through;
}
#content .tags {
  clear:both;
  margin-top:10px;
  padding-top:10px;
  text-align:justify;
  border-top: 1px dashed #6A6969;
} 
.tags .tag_1 a {
  font-size:70%;
}    
.tags .tag_2 a {
  font-size:85%;
}

.tags .tag_3 a {
  font-size:100%;
}

.tags .tag_4 a {
  font-size:115%;
}

.tags .tag_5 a {
  font-size:130%;
}
#content .news {
  clear:both;
  margin-top:10px;
  padding-top:10px;
  border-top: 1px dashed #6A6969;
} 
#content .news #text {
  float:left;
  width:73%;
} 
#content .news #subscribe {
  float:left;
  width:27%;
}
#content .news #subscribe h2 {
  margin-bottom:25px;
}
#content .logos {
  clear:both;
  margin-top:10px;
  border-top: 1px dashed #6A6969;
} 



/*--- banners styles ---*/

.banners {
		width:100%;
		overflow:hidden;
		margin-bottom:30px;
	}
		.banners li {
			float:left;
			width:296px;
			text-align:justify;
      background:#f5f5f5; 
			color:#848383;
			margin:0 25px 31px 0;
		}
		.banners li.last {
      margin:0;
    }
			.banners li section {
				display:block;
				padding:10px;
        font-size:12px;
			}

/*--- folio styles ---*/
.folio {
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:33px;
	margin-bottom:33px;
}
.folio:last-child {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}
	.folio li {
		float:left;
		width:287px;
		margin-right:38px;
	}
	.folio li:last-child {
		margin-right:0;
	}
		.folio li a.img-wrap {
			display:block;
			cursor:pointer;
		}
		.folio li a.img-wrap:hover {
			border:15px solid #ffce4c;
		}



.testimonials li {
	text-align:right;
	color:#ffce4c;
	padding-bottom:22px;
}
	.testimonials li blockquote {
		text-align:left;
		color:#6a6969;
	}
	
/*===== footer =====*/
body > footer {
	background:url(images/background_logo.jpg) 0 0 #1a1a1a;
}
body > footer section:nth-child(1) {
	display:block;
}
body > footer section.last {
	font-size:10px;
	color:#fff;
	display:block;
	background:#000;
}
.splash {
	background:url(../images/splash.png) no-repeat 50% 0;
}
	body > footer section.last a {
		color:#ffce4c;
	}
	
	body > footer .indent {
		padding:120px 0 25px 20px;
	}
	body > footer dl {
		float:left;
    margin-left:30px;
	}
			body > footer dl dt {
				font-size:15px;
				line-height:1.2em;
				color:#fff;
				margin-bottom:24px;
		    margin: 0 20px 0 10px;
        float:left;
        text-transform:lowercase;
			}
      body > footer dl dd {
        float:left;
	      background-image: url(../images/spacer_bottom.gif);
        background-position:left;
        background-repeat:repeat-y;
        padding:0 50px 0 20px;
        text-transform:uppercase;
			}
				body > footer dl li {
					font-size:10px;
          color:#fff;
				}
				body > footer dl li.twitter {
					width:178px;
				}
				body > footer dl li:last-child {
					border-bottom:none;
				}
					body > footer dl li a {
						color:#fff;
						text-decoration:none;
					}
					body > footer dl li a:hover {
						text-decoration:underline;
					}


/*----- forms -----*/
#newsletter-form {
	float:left;
	width:252px;
	padding-left:30px;
}
	#newsletter-form fieldset {
		border:none;
		font-size:13px;
		color:#fff;
	}
		#newsletter-form h3 {
			font-size:26px;
			line-height:1.2em;
			color:#fff;
			margin-bottom:24px;
			font-weight:normal;
		}
		#newsletter-form label {
			text-transform:uppercase;
		}
		#newsletter-form input[type=text] {
			width:210px;
			background:#fff;
			border:none;
			padding:7px 0 7px 5px;
			color:#000;
		}
		#newsletter-form input[type=submit] {
			background:url(images/submit.gif) no-repeat 0 0;
			width:30px;
			height:30px;
			border:none;
			cursor:pointer;
		}
		#newsletter-form a {
			color:#ffce4c;
			font-size:12px;
			border-bottom:1px dotted #ffce4c;
			text-decoration:none;
		}
		#newsletter-form a:hover {
			border-bottom:1px solid #fff;
			color:#fff;
		}

#contacts-form fieldset {
	border:none;
}
	#contacts-form label {
		display:block;
		height:60px;
		overflow:hidden;
	}
		#contacts-form input {
			width:335px;
			padding:4px 5px 3px 5px;
			border:1px solid #a09b96;
			background:none;
			color:#111;
		}
		#contacts-form textarea {
			width:335px;
			padding:4px 5px 3px 5px;
			border:1px solid #a09b96;
			background:none;
			color:#111;
			height:145px;
			margin-bottom:33px;
			overflow:auto;
		}
		#contacts-form .button {
			margin-right:15px;
		}

/*==========================================*/

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

div.breadcrumbs ul {
    padding: 10px;
  }
div.breadcrumbs ul li {
  float:left;
  text-transform:lowercase;
}
.fl {
  float:left;
}
.half {
  width:50%;
}
div#cart_product_variants {
  margin-top:1em;
}
div.option-type-wrapper {
  float:left;
  margin-right:1em;
}
div#product-description {
  background-color:#e8e8e8;
  margin-top:1em;
  padding: 1em;
}
ul#product-thumbnails li {
  float:left;
  margin:1em;
}

