<ul id="slider">
  <li><img src="images/promo1.jpg" /></li>
  <li><img src="images/promo2.jpg" /></li>
  <li><img src="images/promo3.jpg" /></li>
  <li><img src="images/promo4.jpg" /></li>
  <li><img src="images/promo5.jpg" /></li>
  <li><img src="images/promo6.jpg" /></li>
  <li><img src="images/promo7.jpg" /></li>
</ul>

<%= render "shared/products", :products => @products, :taxon => @taxon %>

<div class="tags">
  <span class="tag_1"><a href="#">casti</a></span>
  <span class="tag_2"><a href="#">geci</a></span>
  <span class="tag_5"><a href="#">pantaloni</a></span>
  <span class="tag_3"><a href="#">suporti</a></span>
  <span class="tag_3"><a href="#">bujii</a></span>
  <span class="tag_4"><a href="#">protectii</a></span>
  <span class="tag_1"><a href="#">rucsaci</a></span>
  <span class="tag_3"><a href="#">statii</a></span>
  <span class="tag_1"><a href="#">tricouri</a></span>
  <span class="tag_1"><a href="#">manusi</a></span>
  <span class="tag_1"><a href="#">manusi</a></span>
  <span class="tag_5"><a href="#">ulei</a></span>
  <span class="tag_4"><a href="#">navigatie</a></span>
  <span class="tag_3"><a href="#">cizme</a></span>
  <span class="tag_2"><a href="#">ochelari</a></span>
  <span class="tag_5"><a href="#">cutii</a></span>
  <span class="tag_1"><a href="#">tricouri</a></span>
  <span class="tag_3"><a href="#">huse</a></span>
  <span class="tag_5"><a href="#">cauciucuri</a></span>
  <span class="tag_2"><a href="#">parbrize</a></span>
  <span class="tag_5"><a href="#">cagule</a></span>
  <span class="tag_2"><a href="#">viziere</a></span>
  <span class="tag_2"><a href="#">baterii</a></span>
  <span class="tag_1"><a href="#">rucsaci</a></span>
  <span class="tag_3"><a href="#">statii</a></span>
  <span class="tag_1"><a href="#">tricouri</a></span>
  <span class="tag_1"><a href="#">manusi</a></span>
  <span class="tag_5"><a href="#">lant</a></span>
  <span class="tag_4"><a href="#">protectii</a></span>
  <span class="tag_2"><a href="#">adezivi</a></span>
  <span class="tag_2"><a href="#">geci</a></span>
  <span class="tag_1"><a href="#">brelocuri</a></span>
  <span class="tag_3"><a href="#">machete</a></span>
  <span class="tag_5"><a href="#">cauciucuri</a></span>
  <span class="tag_5"><a href="#">ulei</a></span>
  <span class="tag_4"><a href="#">navigatie</a></span>
  <span class="tag_3"><a href="#">cizme</a></span>
  <span class="tag_1"><a href="#">casti</a></span>
  <span class="tag_5"><a href="#">pantaloni</a></span>
</div>
<div class="news clearfix">
  <div id="text">
  <h2>Noutati</h2>
  Dorsoduro 1200 dispune de un motor racit cu lichid, cu doi cilindri in V inclinati la un unghi de 90 de grade. Cilindreea noului Dorsoduro este de 1200 cmc, iar puterea pe care motorul... <a href="#">[mai mult]</a>
  </div>
  <div id="subscribe">
    <h2>Aboneaza-te</h2>
    <input type="text"/>
    <img src="images/btn.png" alt="Cauta produse"/>
  </div>
</div>
<div class="logos">
    <img src="images/logos.jpg"/>
</div>
